@import "../../../node_modules/@flaticon/flaticon-uicons/css/all/all.css";

@font-face {
  font-family: "Skoda_Pro";
  src: url("../fonts/Skoda_Pro.ttf");
}

:root {
  --primary-color: #4ba82e;
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Skoda_Pro";
  font-weight: bold;
  overflow-x: hidden;
  /* Footer bottom */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  overflow-x: hidden;
}

a:hover {
  text-decoration: none !important;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.prim-color {
  color: var(--primary-color);
}

.my-add {
  margin: 30px 0 60px 0;
}

.btn-green {
  background-color: #4ba82e;
  color: #fff;
}

.btn-green:hover {
  color: #fff;
  font-weight: bold;
}

/* Navigation Styling - Start */

.navbar-nav {
  flex-direction: row !important;
}

.navbar-nav .nav-link {
  font-size: 20px !important;
}

.nav-link {
  display: block;
  padding: 30px !important;
  color: #000;
}

.nav-link:hover,
.bg-dark a:hover,
.bg-black a:hover {
  color: var(--primary-color) !important;
}

.login-cred a {
  font-size: 18px;
}

/* Navigation Styling - End */

/* Slider Styling - Start */

.carousel-item {
  height: 70vh;
  min-height: 400px;
  background: no-repeat center center scroll;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.carousel-item:nth-child(1) {
  background-image: url("../img/slider/Superb.jpg");
}

.carousel-item:nth-child(2) {
  background-image: url("../img/slider/Skala.jpg");
}

.carousel-item:nth-child(3) {
  background-image: url("../img/slider/Kamiq.jpg");
}

.carousel-control-prev,
.carousel-control-next {
  visibility: hidden;
}

.carousel-control-prev,
.carousel-control-next {
  visibility: hidden;
}

.carousel-control-next:after {
  visibility: visible;
  content: ">";
  font-size: 105px;
  color: var(--primary-color);
}

.carousel-control-prev:after {
  visibility: visible;
  content: "<";
  font-size: 105px;
  color: var(--primary-color);
}

/* Slider Styling - End */

/* Home Section Styling - Start */

.action-panel div {
  display: flex;
  justify-content: center;
}

.bg-lighter-gray {
  background-color: #dddada;
  width: 57.6%;
  margin: 60px auto;
}

.action-title {
  background-color: var(--primary-color);
  color: #fff;
  margin-right: 40px;
  width: 20%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.action-title:hover {
  color: #fff;
  background-color: #62a84c;
  text-decoration: none;
}

.action-title-icon {
  padding-top: 20px;
  display: block;
  text-align: center;
  position: relative;
}

.action-title-text {
  margin-top: 50px;
  display: block;
  text-align: center;
}

.action-title:last-child {
  margin-right: 0;
}

/* Home Section Styling - End */

/* Footer Styling - Start */

.bg-black {
  background-color: #000;
}

.bg-black a,
.bg-dark a {
  color: #fff;
}

.social-links li {
  display: inline-block;
}

.icon-link {
  margin-right: 20px;
}

.icon-link:hover {
  color: var(--primary-color);
}

.author-link {
  text-decoration: underline;
}

.author-link:hover {
  text-decoration: underline !important;
  color: var(--primary-color);
}

.footer-nav {
  margin-top: -10px;
}

footer {
  padding: 40px 0;
  /* Footer on bottom */
  margin-top: auto; 
}

/* Footer Styling - End */

/* Start of registration form styling */

#registration-modal .form {
  padding: 0px 40px;
}

#registration-modal .form-group {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

#registration-modal .form-group label {
  display: inline-block;
  margin-bottom: 5px;
}

#registration-modal .form-group input {
  border: 2px solid #dbdbdb;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

#registration-modal .form-group input:focus {
  outline: 0;
  border-color: #777;
}

#registration-modal .form-group.success input {
  border-color: #2ecc71;
}

#registration-modal .form-group.error input {
  border-color: #e74c3c;
}

#registration-modal .form-group i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

#registration-modal .form-group.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

#registration-modal .form-group.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

#registration-modal .form-group small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

#registration-modal .form-group.error small {
  visibility: visible;
}

#registration-modal .form button {
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

/* End of registration form styling */

/* Start of login form styling */

.login-footer {
  display: block !important;
}

.modal-footer-errors {
  float: left;
  color: #ff0000;
}

.modal-cancel {
  float: right;
}

.gray-border {
  border: 1px solid #dbdbdb;
}

.not-correct-border {
  border: 1px solid #ff0000;
}

/* End of login form styling */

.tot-price {
  font-size: 24px;
}

/* Errors */
[id$="Err"] {
  display: none;
}

/* Cars Section */
#amount {
  border: none;
}

#slider-range {
  width: 90%;
  margin-left: 10px;
  margin-right: 10px;
}

.filter-form > * {
  margin-bottom: 1.5em;
}

/* Car Details */
.car-preview {
  display: flex;
  margin-top: 50px;
}

.car-preview img {
  flex-grow: 1;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.car-preview img.car-active {
  opacity: 1;
}

.category-title {
  font-size: 23px;
}

.features .icon {
  font-size: 25px;
  width: 70px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-bottom: 10px;
}

.ftco-animate .icon span {
  color: var(--primary-color);
}

.features h3 {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);
}

.feature-value {
  color: #000;
  font-weight: 550;
  display: block;
}

#tabs-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#list-container {
  list-style: none;
}

#list-container .tabs {
  margin-right: 50px;
  cursor: pointer;
  font-size: 18px;
}

.tabs.active-tab {
  color: var(--primary-color);
  transition: color 0.5s;
}

.tab-content {
  min-height: 250px;
}

#features ul {
  list-style: none;
}

.fi-br-check {
  color: var(--primary-color);
}

.fi-br-cross {
  color: #e74c3c;
}

.text-green {
  color: #4ba82e;
  font-size: 24px;
  padding: 10px 0;
}

.change-status {
  color: #212529;
}

.change-status:hover {
  color: var(--primary-color);
}

/* About Page */
.site-section {
  padding: 2.5em 0;
}

.site-section-cover p {
  font-size: 18px;
  color: #fff;
}

.site-section.site-section-sm {
  padding: 4em 0;
}

.site-section-cover {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.site-section-cover,
.site-section-cover .container {
  position: relative;
  z-index: 2;
}

.site-section-cover,
.site-section-cover .container > .row {
  height: calc(100vh - 196px);
  min-height: 577px;
}

.site-section-cover.overlay {
  position: relative;
}

.site-section-cover.overlay:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.site-section-cover.inner-page,
.site-section-cover.inner-page .container > .row {
  height: auto;
  min-height: auto;
  padding: 2em 0;
}

.site-section-cover.img-bg-section {
  background-size: cover;
  background-repeat: no-repeat;
}

.site-section-cover h1 {
  font-size: 3rem;
  color: #fff;
  line-height: 1;
}

.how-it-works .step {
  width: 20%;
  display: inline-block;
  text-align: center;
  position: relative;
}

.how-it-works .step:after {
  width: 100%;
  height: 4px;
  content: "";
  position: absolute;
  z-index: -1;
  top: 25px;
  background: var(--primary-color);
}
.how-it-works .step:last-child:after {
  display: none;
}

.how-it-works .step .number {
  z-index: 1;
  width: 50px;
  height: 50px;
  border: 4px solid var(--primary-color);
  background: #fff;
  border-radius: 50%;
  color: var(--primary-color);
  display: block;
  position: relative;
  margin: 0 auto 10px auto;
}

.how-it-works .step .number > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  color: var(--primary-color);
}

.how-it-works .step .caption {
  display: block;
}

/* Thanks Page */
.thanksContainer {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.thanksContainer h1 {
  color: #333;
}

.thanksContainer p {
  color: #666;
  font-size: 18px;
}

.thanksContainer img {
  max-width: 100%;
  height: auto;
  margin-top: 1px;
  border-radius: 8px;
}

/* Pagination */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.pagination a {
  color: var(--primary-color);
  text-decoration: none;
  padding: 10px 22px !important;
  margin: 0 4px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.pagination .active {
  background-color: var(--primary-color);
  color: #fff;
  pointer-events: none;
  cursor: default;
}